<%- include('../common/nav-bar.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Books</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Books</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1"
                            class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>Name</th>
                                    <th>category</th>
                                    <th>pages</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const book of books) { %>
                                <tr>
                                    <td><%= book.author.firstName %>
                                        <%= book.author.lastName %></td>
                                    <td><%= book.name %></td>
                                    <td><%= book.category.name %></td>
                                    <td><%= book.pages %></td>
                                    <td>
                                        <a
                                            href="/admin/books/<%= book.id %>">
                                            <i class="material-icons">
                                                visibility
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Author</th>
                                    <th>Name</th>
                                    <th>category</th>
                                    <th>pages</th>
                                    <th>View</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<%- include('../common/footer.ejs') %>
